/* 
Background Color: Light Yellow
Image centered
Recipe title centered
Border going vertical
Puerto Rican Flag somewhere
*/
body {
  background-color: #e0cb60;
}

.container {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 150px 50px 150px;
  border: black 2px solid;
  padding: 10px;
}

.nav {
    display: flex;
    justify-content: center;
}

.title-nav-container {
    padding: 0;
}

.img-container {
    display: flex;
    justify-content: center;
}

.food-image {
  height: auto;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-flag {
  height: auto;
  width: 20%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.title-nav {
  height: auto;
  list-style-type: none;
  text-align: center;
  font-size: large;
}
